In [15]:
#!pip install pandas

In [16]:
import requests
import json

import pandas as pd

## Obter usuários

In [12]:
url = "http://127.0.0.1:8000/usuarios/usuarios"

payload={}
headers = {
  'accept': 'application/json'
}

response = requests.request("GET", url, headers=headers, data=payload)

retorno = json.loads(response.text)
retorno

[{'data_criacao': '2023-02-09T07:43:00.369991',
  'versao': 1,
  'nome_usuario': 'fulano0',
  'id': 1,
  'data_atualizacao': '2023-02-09T07:43:00.369996',
  'nome': 'Fulano 0'},
 {'data_criacao': '2023-02-09T07:43:00.378731',
  'versao': 1,
  'nome_usuario': 'fulano2',
  'id': 3,
  'data_atualizacao': '2023-02-09T07:43:00.378735',
  'nome': 'Fulano 2'},
 {'data_criacao': '2023-02-09T07:43:00.384959',
  'versao': 1,
  'nome_usuario': 'fulano4',
  'id': 5,
  'data_atualizacao': '2023-02-09T07:43:00.384963',
  'nome': 'Fulano 4'},
 {'data_criacao': '2023-02-09T07:43:00.388143',
  'versao': 1,
  'nome_usuario': 'fulano5',
  'id': 6,
  'data_atualizacao': '2023-02-09T07:43:00.388147',
  'nome': 'Fulano 5'},
 {'data_criacao': '2023-02-09T07:43:00.391296',
  'versao': 1,
  'nome_usuario': 'fulano6',
  'id': 7,
  'data_atualizacao': '2023-02-09T07:43:00.391300',
  'nome': 'Fulano 6'},
 {'data_criacao': '2023-02-09T07:43:00.394542',
  'versao': 1,
  'nome_usuario': 'fulano7',
  'id': 8,
  'data_atualizacao': '2023-02-09T07:43:00.394546',
  'nome': 'Fulano 7'},
 {'data_criacao': '2023-02-09T07:43:00.397776',
  'versao': 1,
  'nome_usuario': 'fulano8',
  'id': 9,
  'data_atualizacao': '2023-02-09T07:43:00.397779',
  'nome': 'Fulano 8'},
 {'data_criacao': '2023-02-09T07:43:00.401041',
  'versao': 1,
  'nome_usuario': 'fulano9',
  'id': 10,
  'data_atualizacao': '2023-02-09T07:43:00.401045',
  'nome': 'Fulano 9'},
 {'data_criacao': '2023-02-09T08:23:44.014494',
  'versao': 1,
  'nome_usuario': 'usuario1',
  'id': 11,
  'data_atualizacao': '2023-02-09T08:23:44.014500',
  'nome': 'Usuário'},
 {'data_criacao': '2023-02-09T08:27:30.092728',
  'versao': 1,
  'nome_usuario': 'usuario10',
  'id': 12,
  'data_atualizacao': '2023-02-09T08:27:30.092734',
  'nome': 'Usuário 10'}]

In [17]:
pd.DataFrame(retorno)

,data_criacao,versao,nome_usuario,id,data_atualizacao,nome
0,2023-02-09T07:43:00.369991,1,fulano0,1,2023-02-09T07:43:00.369996,Fulano 0
1,2023-02-09T07:43:00.378731,1,fulano2,3,2023-02-09T07:43:00.378735,Fulano 2
2,2023-02-09T07:43:00.384959,1,fulano4,5,2023-02-09T07:43:00.384963,Fulano 4
3,2023-02-09T07:43:00.388143,1,fulano5,6,2023-02-09T07:43:00.388147,Fulano 5
4,2023-02-09T07:43:00.391296,1,fulano6,7,2023-02-09T07:43:00.391300,Fulano 6
5,2023-02-09T07:43:00.394542,1,fulano7,8,2023-02-09T07:43:00.394546,Fulano 7
6,2023-02-09T07:43:00.397776,1,fulano8,9,2023-02-09T07:43:00.397779,Fulano 8
7,2023-02-09T07:43:00.401041,1,fulano9,10,2023-02-09T07:43:00.401045,Fulano 9
8,2023-02-09T08:23:44.014494,1,usuario1,11,2023-02-09T08:23:44.014500,Usuário
9,2023-02-09T08:27:30.092728,1,usuario10,12,2023-02-09T08:27:30.092734,Usuário 10

In [3]:
response

In [4]:
retorno[0]

{'data_criacao': '2023-02-09T07:43:00.369991',
 'versao': 1,
 'nome_usuario': 'fulano0',
 'id': 1,
 'data_atualizacao': '2023-02-09T07:43:00.369996',
 'nome': 'Fulano 0'}

## Obter usuário específico

In [5]:
nome_usuario = 'fulano5'

url = f"http://127.0.0.1:8000/usuarios/usuarios/{nome_usuario}"

payload={}
headers = {
  'accept': 'application/json'
}

response = requests.request("GET", url, headers=headers, data=payload)

retorno = json.loads(response.text)
retorno

{'data_criacao': '2023-02-09T07:43:00.388143',
 'versao': 1,
 'nome_usuario': 'fulano5',
 'id': 6,
 'data_atualizacao': '2023-02-09T07:43:00.388147',
 'nome': 'Fulano 5'}

## Inserir usuário

In [6]:
url = "http://127.0.0.1:8000/usuarios/usuarios"

payload = json.dumps({
  "nome": "Usuário 10",
  "nome_usuario": "usuario10"
})

headers = {
  'accept': 'application/json',
  'Content-Type': 'application/json'
}

response = requests.request("POST", url, headers=headers, data=payload)

In [7]:
response

In [8]:
retorno = json.loads(response.text)
retorno

{'detail': "(sqlite3.IntegrityError) UNIQUE constraint failed: tb_usuario.nome_usuario\n[SQL: INSERT INTO tb_usuario (data_criacao, data_atualizacao, versao, nome, nome_usuario) VALUES (?, ?, ?, ?, ?)]\n[parameters: ('2023-02-09 08:32:40.359440', '2023-02-09 08:32:40.359446', 1, 'Usuário 10', 'usuario10')]\n(Background on this error at: https://sqlalche.me/e/14/gkpj)"}

## Alterar usuário

In [10]:
nome_usuario = 'fulano3'


url = f"http://127.0.0.1:8000/usuarios/usuarios/{nome_usuario}"

payload = json.dumps({
  "nome": "Fulano 3 alterado",
  "nome_usuario": nome_usuario
})
headers = {
  'accept': 'application/json',
  'Content-Type': 'application/json'
}

response = requests.request("PUT", url, headers=headers, data=payload)

retorno = json.loads(response.text)
retorno

{'data_criacao': '2023-02-09T07:43:00.381910',
 'versao': 5,
 'nome_usuario': 'fulano3',
 'id': 4,
 'data_atualizacao': '2023-02-09T08:36:13.181398',
 'nome': 'Fulano 3 alterado'}

## Remover usuário

In [11]:
nome_usuario = 'fulano3'

url = f"http://127.0.0.1:8000/usuarios/usuarios/{nome_usuario}"

payload={}
headers = {
  'accept': 'application/json'
}

response = requests.request("DELETE", url, headers=headers, data=payload)

retorno = json.loads(response.text)
retorno